@import url(stylesheet.css);

h2 {
	text-align: left;
}

section {
	text-align: center;
}

.member {
	max-width: 280px;
	display: inline-block;
	padding: 0 10px;
}

.member figure img {
	width: 150px;
}

sup {
	vertical-align: super;
	font-size: small;
}

.flag {
	width: 14px;
	padding: 0;
	box-shadow: none;
	border: none;
	position: absolute;
	top: 0;
}